/sublime_text_4/Data/index/*
/sublime_text_4/Data/Cache/
/sublime_text_4/Data/Local/Session.sublime_session
/sublime_text_4/Data/Packages/JavaScript Completions*
/sublime_text_4/Data/Packages/JavaScript Enhancements*
/sublime_text_4/Data/Backup/*
/sublime_text_4/Data/Local/Auto Save Session.sublime_session